<launch>
	<param name="use_sim_time" value="true"/>
	<node pkg="vrep_util" type="clock_publisher" name="clock" output="screen"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_laser" args="0 0 0 0 0 0 base_link laser" />
	
	<node pkg="modelo_diferencial" type="pioneer_odometry" name="pioneer_odometry" output="screen" />

	<node pkg="imu_laser" type="landmark_detector" name="landmark_detector" output="screen"/>

</launch>

